<div class="forgot-password-container">
    <h2>Reset Your Password</h2>
  
    <form [formGroup]="forgotForm" (ngSubmit)="onSubmit()">
  
      <input type="email" placeholder="Email" formControlName="email" />
      <input type="password" placeholder="Old Password" formControlName="oldPassword" />
      <input type="password" placeholder="New Password" formControlName="newPassword" />
      <input type="password" placeholder="Confirm Password" formControlName="confirmPassword" />
      
      <button type="button" (click)="sendOtp()">Send OTP</button>
      <input type="text" placeholder="Enter OTP" formControlName="otp" />
  
      <button type="submit">Reset Password</button>
    </form>
  </div>
      